.altButton{
    color: #242440;
    background-color: #fff;
    border: 1px solid #242440;
    font-size: 14px;
    border-radius: 3px;
    width: 100%;
    padding: .7rem;
    cursor: pointer;
    transition: .4s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.altButton:hover {
    background-color: #dddddd;
}