.authButton{
    background-color: #242440;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    padding: .7rem;
    cursor: pointer;
    transition: .4s;
}

.authButton:hover {
    background-color: #3c3969;
}