.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto;
    align-items: center;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.left{
    width: 100%;
}

.leftInner{
    width: 100%;
    max-width: 520px;
    padding: 2rem;
}

.subtitle{
    font-size: 12px;
    color: #888;
}


.leftInner{
    width: 100%;
    max-width: 480px;
    padding: 1rem;
}

.badge{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 11px;
    padding: 6px 10px;
    border-radius: 20px;
    background: #f1f3f5;
    color: #555;
    font-weight: 500;
}

.dot{
    width: 6px;
    height: 6px;
    background: #003883;
    border-radius: 50%;
}

.title{
    font-size: clamp(2rem, 3vw, 2.6rem);
    font-weight: 500;
    margin-top: 1rem;
    line-height: 1.2;
}

.title span{
    color: #003883;
}

.intro{
    margin-top: .8rem;
    font-size: 15px;
    color: #666;
    line-height: 1.6;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}


.featureItem{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: .4rem 0;
    border-top: 1px solid #e6e6e6;

    transition: background 0.3s ease, padding-left 0.3s ease;
}

.featureItem:hover{
    background: #fafafa;
}

.featureTitle{
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.featureTitle span{
    font-size: 20px;
    transition: transform 0.3s ease;
}

.rotate{
    transform: rotate(180deg);
}

.featuresubTitle{
    font-size: 15px;
    color: #777;
    animation: fadeDown .3s ease;
}

.fadeIn{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.fadeOut{
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes fadeDown{
    from{
        opacity: 0;
        transform: translateY(-5px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.featureItem{
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.fadeIn .featureItem{
    opacity: 1;
    transform: translateY(0);
}

.fadeIn .featureItem:nth-child(1){ transition-delay: 0.1s; }
.fadeIn .featureItem:nth-child(2){ transition-delay: 0.3s; }
.fadeIn .featureItem:nth-child(3){ transition-delay: 0.5s; }
.fadeIn .featureItem:nth-child(4){ transition-delay: 0.8s; }

.featuresubTitle{
    font-size: 15px;
    color: #777;
    overflow: hidden;

    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);

    transition: 
        max-height 0.5s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
}

.showFeature{
    max-height: 200px; 
    opacity: 1;
    transform: translateY(0);
}

.featureImageMobile{
    width: 100%;
    aspect-ratio: 1/1.4;
    border-radius: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.mobileImageContainer{
    position: relative;
    width: 70%;
    aspect-ratio: 1/2;
}

.mobileImageContainer img{
    border-radius: .5rem;
}

.right{
    display: none;
}

.featureImage{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 550px;
    overflow: hidden;
}

@keyframes scaleUp {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

.featureImage img{
    object-fit: cover;
    transition: opacity 0.5s ease, transform 0.6s ease;
    animation: scaleup.5s ease-in-out forwards;
    transform: scale(1.05);
}

.featureImage img.active{
    opacity: 1;
    transform: scale(1);
}


@media (min-width: 1024px){

    .container{
        flex-direction: row;
    }

    .left{
        flex: 0 0 43%;
        display: flex;
        justify-content: center; 
    }


    .right{
        flex: 0 0 57%;
        display: block;
        position: relative;
        height: calc(100svh + 2 * 12rem);
    }

    .featureImage{
        min-height: 600px;
    }

    .featureImageMobile{
        display: none;
    }
}
