.container{
    padding: 1rem;
    width: 80%;
    background-color: #ddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 1rem;
    margin-bottom: 2rem;
    background: rgba(74, 51, 169, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(74, 51, 169, 0.16);
}

.top img{
    margin: auto;
}

.top, .bottom{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    font-size: 12px;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;
}

.top p, .bottom p{
    color: #4a4a4a;
}

.footerSection{
    display: flex;
    gap: .7rem;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .top, .bottom{
        flex-direction: row;
    }

    .top img{
        margin: unset;
    }
}