.checkbox{
    font-size: 14px;
    color: #52525b;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.checkbox label{
    margin-left: .4rem;
    cursor: pointer;
}