.body{
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container{
    width: fit-content;
    padding: 4.25rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 15px #bebebe;
}

.imgContainer{
    display: flex;
    align-items: left;
    width: 100%;
    margin-bottom: 1rem;
}

.container h4{
    font-weight: 500;
    font-size: 20px;
    color: #222255;
    text-align: left;
    width: 100%;
}

.subtext {
    font-size: 13px;
    color: #242440;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footing{
    width: 500px;
    margin-top: 1rem;
}



.footing p{
    font-size: 14px;
    color: #52525b;
}

.footing b{
    cursor: pointer;
    color: #242440;
}

.footing b:hover{
    text-decoration: underline;
}

.footing ul{
    list-style-type: circle;
    display: flex;
    font-size: 14px;
    margin-top: .2rem;
    gap: 7%;
    margin-left: .8rem;
}

.loadingContainer{
    width: 100%;
    height: 5px;
    background-color: #f7f7f7;
}

.loader{
    width: 50%;
    height: 5px;
    background-color: #24a469;
}

.subtext b{
    color: #24a469;
}